<div class="container-fluid">
  <h1>About</h1>
  <p>
    This is an interactive visualisation showing New Zealand's average electricity spot prices in half-hourly
    increments by time of day over the past year.
  </p>
  <p>
    You can select a time range, date range and/or one or more days of the week and the other charts will be filtered
    accordingly. It's easy to see, overall or during specific periods which times of the day are cheaper or more
    expensive, and how prices change over the year.
  </p>
  <p>
    This might be particularly useful for Flick customers, as the spot prices shown are what you pay in addition to
    your lines charges and Flick's charge.
  </p>
  <p>
    <h2>Coming soon:</h2>
    <ul>
      <li>Options to show minimum and maximum prices (instead of average)</li>
      <li>Moving averages (to make it easier to see overall trends)</li>
      <li>Overlays of other types of data that affects pricing - e.g. rainfall, temperature</li>
      <li>Information about different types of generation - you'll be able to see how green the power is at
      different times.</li>
    </ul>
  </p>
</div>