<div class="container-fluid">
  <h1>Average electricity spot prices in New Zealand</h1>
  <p class="subheading">Showing data for <%= @node.name || @node.code %> grid exit point for December 2015 to January 2016.</p>
  <div class="row">
    <div class="col-md-9">
      <div id="price_by_time_chart" class="chart"></div>
      <div id="price_by_dom_chart" class="chart"></div>
    </div>
    <div class="col-md-3">
      <div id="price_by_day_of_week_chart" class="chart">
        <legend>Day of week</legend>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var NODE = '<%= @node.code %>';
</script>