<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Average daily spot prices in January 2016</h1>
      <div id="price_by_time_chart" style="width: 100%;"></div>
      <div id="price_by_dom_chart" style="width: 100%;"></div>
    </div>
  </div>
</div>
